# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test
.env.production
.env.development
.env.local

# Build output
dist/
build/
temp/
tmp/

# TypeScript
*.tsbuildinfo

# Parcel cache
.cache/

# Next.js
.next/
out/

# Nuxt.js
.nuxt/
dist/

# Gatsby files
.cache/
public/

# Vuepress build output
.vuepress/dist

# SvelteKit build
.svelte-kit/
build/

# Vite
.vite/

# VSCode settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# macOS
.DS_Store

# Windows
Thumbs.db